:root {
  --header-height: 80px;
  --footer-height: 50px;
  --font-family: 'Mulish', sans-serif;
  --background-color: #222;

}

/* Set margin and padding to 0 for the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: var(--font-family);
  color: white;
}

/* Set a background color for the whole page */
body {
  background-color: var(--background-color);
  position: relative; /* Set position to relative */
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

/* Style the header */
.header {
  background-color: var(--background-color);
  color: #fff;
  padding: 20px;
  height: var(--header-height);
  text-align: center;
  position: fixed; /* Set position to fixed */
  top: 0; /* Set top to 0 */
  left: 0; /* Set left to 0 */
  right: 0; /* Set right to 0 */
}

.nav-container img {
  width: 50px;
}

/* Style the company name in the header */
.nav-title {
  font-size: 46px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-family: var(--font-family);
}

.main {
  position: absolute; /* Set position to absolute */
  top: var(--header-height); /* Set top to the height of the header */
  bottom: var(--footer-height); /* Set bottom to the height of the footer */
  left: 0; /* Set left to 0 */
  right: 0; /* Set right to 0 */
  min-height: 550px;
  /*background-image: url('images/bg1.png');
  background-position: bottom;
  background-size: cover;*/
  background-color: var(--background-color);
}

.closed-beta-text {
  font-size: 46px;
  padding: 5px;
  margin-bottom: 10px;
  color: black;
}

.form-container {
  margin: 50px;
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
}

.empty-space {
  min-height: 100px;
}

.mission-statement {
  margin-top: 20px;
  font-size: 64px;
}

.mission-description {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 300;
}

/* Style the form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: 300;
}

/* Style the input fields */
input[type="text"],
input[type="email"],
textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  resize: none; /* Disable text area resize */
}

.input-container {
  margin: 6px;
} 

/* Style the form submit button */
button[type="submit"] {
  background-color: var(--background-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  font-family: 'Mulish', sans-serif;
  height: 100px;
}

/* Style the form submit button on hover */
button[type="submit"]:hover {
  background-color: #444;
}
/* Style the footer */
.footer {
  background-color: var(--background-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}

/* Style the footer text */
.footer-text {
  font-size: 14px;
}